.header-container {
  height: 50vh;
  text-align: center;
  line-height: 3;
  font-family: "Raleway";
  background-color: white;
}

.header-text {
  padding-top: 2%;
}

.header-container h1 {
  font-size: 50px;
}

.header-container h3 {
  color: #626262;
}
