.nav-container {
  height: 5vh;
  border-bottom: solid 2px lightgray;
}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-button {
  border-radius: 20px;
  padding: 10px;
  transition: 0.5s;
}

.nav-button:hover {
  background-color: gray;
  color: white;
}
